<!-- need to merge some of these links... -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/0.7.0/vue-resource.min.js"></script>
<script src="https://unpkg.com/vue-clipboard2@0.0.6/dist/vue-clipboard.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
<script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://unpkg.com/to-markdown@3.1.0/dist/to-markdown.js"></script>
<script type="text/javascript" src="{{ "/assets/js/O18P.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/XORCipher.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/edit.js" | prepend: site.baseurl  }}"></script>
{% if page.graph %}
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endif %}
{% for script in page.scripts %}
  <script src="{{script}}"></script>
{% endfor %}
<link rel="stylesheet" href="https://unpkg.com/vue-form-wizard/dist/vue-form-wizard.min.css">


<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        // Use a "/test" namespace.
        // An application can open a connection on multiple namespaces, and
        // Socket.IO will multiplex all those connections on a single
        // physical channel. If you don't care about multiple channels, you
        // can set the namespace to an empty string.
        namespace = '/test';

        // Connect to the Socket.IO server.
        // The connection URL has the following format:
        //     http[s]://<domain>:<port>[/<namespace>]
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        // Event handler for new connections.
        // The callback function is invoked when a connection with the
        // server is established.
        socket.on('connect', function() {
            socket.emit('my_event', {data: 'I\'m connected!'});
        });

        // Event handler for server sent data.
        // The callback function is invoked whenever the server emits data
        // to the client. The data is then displayed in the "Received"
        // section of the page.
        socket.on('my_response', function(msg) {
            $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
        });

        // Interval function that tests message latency by sending a "ping"
        // message. The server then responds with a "pong" message and the
        // round trip time is measured.
        var ping_pong_times = [];
        var start_time;
        window.setInterval(function() {
            start_time = (new Date).getTime();
            socket.emit('my_ping');
        }, 1000);

        // Handler for the "pong" message. When the pong is received, the
        // time from the ping is stored, and the average of the last 30
        // samples is average and displayed.
        socket.on('my_pong', function() {
            var latency = (new Date).getTime() - start_time;
            ping_pong_times.push(latency);
            ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
            var sum = 0;
            for (var i = 0; i < ping_pong_times.length; i++)
                sum += ping_pong_times[i];
            $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
        });

        // Handlers for the different forms in the page.
        // These accept data from the user and send it to the server in a
        // variety of ways
        $('form#emit').submit(function(event) {
            socket.emit('my_event', {data: $('#emit_data').val()});
            return false;
        });
        $('form#broadcast').submit(function(event) {
            socket.emit('my_broadcast_event', {data: $('#broadcast_data').val()});
            return false;
        });
        $('form#join').submit(function(event) {
            socket.emit('join', {room: $('#join_room').val()});
            return false;
        });
        $('form#leave').submit(function(event) {
            socket.emit('leave', {room: $('#leave_room').val()});
            return false;
        });
        $('form#send_room').submit(function(event) {
            socket.emit('my_room_event', {room: $('#room_name').val(), data: $('#room_data').val()});
            return false;
        });
        $('form#close').submit(function(event) {
            socket.emit('close_room', {room: $('#close_room').val()});
            return false;
        });
        $('form#disconnect').submit(function(event) {
            socket.emit('disconnect_request');
            return false;
        });
    });
</script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <script>
        // HTTP handlers
        window.setInterval(function() {
            $.ajax({
                type: 'GET',
                url: '/session',
                success: function(data) {
                    $('#http-session').text(data['session']);
                    $('#http-user').text(data['user']);
                }
            });
        }, 1000);

        $('#submit-http').click(function() {
            $.ajax({
                type: 'POST',
                url: '/session',
                data: JSON.stringify({session: $('#http-session-set').val()}),
                contentType: 'application/json'
            });
        });
        $('#login-http').click(function() {
            $.ajax({
                type: 'POST',
                url: '/session',
                data: JSON.stringify({user: $('#http-user-set').val()}),
                contentType: 'application/json'
            });
        });
        $('#logout-http').click(function() {
            $.ajax({
                type: 'POST',
                url: '/session',
                data: JSON.stringify({user: null}),
                contentType: 'application/json'
            });
        });


        // Socket.IO handlers
        var socket = null;

        $('#connect').click(function() {
            if (!socket) {
                socket = io.connect(location.href);
                socket.on('refresh-session', function(data) {
                    $('#socketio-session').text(data['session']);
                    $('#socketio-user').text(data['user']);
                });

                $('#connect').text('Disconnect');
                $('#socketio').show();
            }
            else {
                socket.disconnect();
                socket = null;
                $('#socketio').hide();
                $('#connect').text('Connect');
                $('#socketio-session').text('');
                $('#socketio-user').text('');
            }
        });

        window.setInterval(function() {
            if (socket)
                socket.emit('get-session');
        }, 1000);

        $('#submit-socketio').click(function() {
            socket.emit('set-session', {session: $('#socketio-session-set').val()});
        });
        $('#login-socketio').click(function() {
            socket.emit('set-session', {user: $('#socketio-user-set').val()});
        });
        $('#logout-socketio').click(function() {
            socket.emit('set-session', {user: null});
        });
    </script>
<!-- <body ng-app="starter">
<ion-nav-bar class="bar-stable">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-view></ion-nav-view>
</body> -->
