<!DOCTYPE html>
<html>

{% include head.html %}
<body>
  {% include nav.html %}
  <div id="appt">
    {% if page.source %}
    <input id="source" value="{{page.source}}" hidden></input>
    {% endif %}
    {% if page.parental %}
    <input id="parental" value="{{page.parental}}" hidden></input>
    {% endif %}
    {% for i in page.includes %}
    {% include {{i}} %}
    {% endfor %}
    {% include quicktag-code.html %}
    {% include edit-box.html %}
    <div class="wrapper container">
      {% for d in page.divs %}
      <div id="{{d}}"><h1>{{d}}</h1></div>
      {% endfor %}
      <div v-bind:class="{ 'badeditor': showedit}">
        <div class="col-md-6 form-group editspace" v-if="showedit">
          <textarea :value="input" @input="update" id="editor" class="form-control editspace"></textarea>
        </div>
        <div v-bind:class="{ 'col-md-6': showedit, 'well': showedit }" v-if="supreceed" v-html="compiledMarkdown">
        </div>
      </div>
      <div id="article" v-if="showarticle">
        {{content}}
      </div>
      <div v-if="false" id="loading"></div>
    </div>
    {% include footer.html %}
    {% include javascripts.html %}
  </div>
</body>

</html>
